@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,600;1,200;1,300;1,400;1,500&family=Poppins:ital,wght@0,300;0,800;1,300;1,400;1,600&family=Roboto+Condensed:ital@1&family=Roboto:ital,wght@0,100;0,400;0,500;1,300;1,400&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: black;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container .text-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .text-title h1{
    color: #fff;
    font-size: 2.2rem;
}
.card{
    position: relative;
    width: 28rem;
    height: 20rem;
    align-items: center;
    margin-top: 8rem;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    flex-basis: 30%;
    cursor: pointer;
}

.card .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card .circle::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(197, 52, 52);
    clip-path: circle(9.4rem at center);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.card:hover .circle::before{
    background: #000;
    clip-path: circle(12.2rem at center);
}

.card img{
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .5s;
    height: 19rem;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.card:hover img{
    left: 72%;
    height: 20rem;
}

.card .content{
    position: relative;
    width: 50%;
    top: 15%;
    left: 20%;
    padding: 1.1rem 1.1rem 1.1rem 2.2rem;
}

.card:hover .content{
    left: 0;
    opacity: 1;
    visibility: visible;
}

.card .content h2{
    color: #fff;
    font-size: 2rem;
    line-height: 1rem;
    margin-bottom: .8rem;
}

.card .content p{
    color: #fff;
    
}

.card .content a{
    display: inline-block;
}

.card .content img{
    position: relative;
    width: 30%;
    height: 30%;
    margin-bottom: -55px;
    margin-left: -60px;
}


.container:hover .card{
    filter: blur(.2rem);
    -webkit-filter: blur(.2rem);
}

.container:hover .card:hover{
    filter: blur(0);
    -webkit-filter: blur(0);
}

@media (max-width:1100px) {
    body{
        overflow: visible;
    }
    .container{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .text-title h1{
        margin-top: 80px;
    }
    .card{
        width: auto;
        max-width: 350px;
        margin-top: -12px;
        align-items: flex-start;
    }
    .card:hover img, .content{
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .card .content{
        width: 100%;
        left: 0;
        padding: 30px;
    }
    .card .content a img{
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-right: 50px;
    }
    .card:hover img{
        top: 50%;
        left: 60%;
        height: 250px;
    }
}

@media (max-width:510px) {
    .container .text-title h1{
        margin-bottom: 100px;
        text-align: center;
    }

    .card .content a img{
        display: none;
    }
}

@media (max-width:310px) {
    .card .content h2 {
       margin-top: -20px;
    }
}


@media (max-width:310px) {
    .card .content  p{
       margin-bottom: -20px;
    }
}
